<header>
        <h1>Manish Here</h1>
        <nav class="navigation">
            <a href="#">Home</a>
            <button ><a href="/login" class ="btn btnLogin-popup" >Login</a> </button>
            <button ><a href="/register" class ="btn btnRegister-popup"> Registration</a></button>
        </nav>
</header>